.main,.header {
    display:grid;
}
.header {
    margin: auto;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    font-family: sans-serif;
    line-height: 15px;
}
.cards >div {
    margin:15px;
    border: 1px solid black;
    border-radius: 10px;
    width:250px;
    height: 430px;
    background: linear-gradient(to top,white,#eee);
}

.cards >div:hover {
    box-shadow: 1px 1px 10px;
}

body {
    background-color: rgb(235, 245, 245);
}
body >div:nth-child(1){
    margin-bottom: 50px;
}

h1 {
    text-align: center;
    font-weight: 300;
    color: rgb(100, 100, 100);
    font-size: 24px;
}
h4 {
    text-align: center;
    margin: 10px 0;
    font-size: 13px;
    font-weight: 250;
    line-height: 25px;
}
.cardBack>div>h4 {
    text-align: center;
    margin: 10px 0;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
}

p {
    text-align: left;
    margin: 20px;
    font-size: 13px;
    font-weight: 250;
    line-height: 25px;
    text-align: justify;
    color:black
}


.power {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

hr {
    margin: 0;
}
.pokeCard {
    width:250px;
    height:430px;
    position: relative;
}

.cardFront:hover {
    opacity: 0
}
.pokeCard:hover .cardBack {
    opacity: 1;
}
.cardBack {
    width: 100%;
    height: 100%;
    background: linear-gradient(to top,white,#eee);
    opacity: 0;
    border-radius: 10px;
}
.cardFront, .cardBack{
    position:absolute
}